*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    margin: auto;
    margin-top: 5%;
}

.text{
    display:flex;
    justify-content: center;
}

.img3{
    float: left;
    width: 50%;
    padding-left: 100px;
    padding-top: 50px;
}

.contact{
    font-size: 25px;
    padding: 3%;
    text-align: center;
}

.form-container {
    padding-right: 100px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.login-form, .signup-form {
    width: 600px;
    padding-right: 20px;
    margin: 0;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: #ececec;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.login-form h2, .signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-size: 16px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: larger;
}

button:hover {
    background-color: #00b345;
}

.form-toggle {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 2px;
    margin-top: 40px;

}

.form-toggle button {
    width: 600px;
    background-color: #fff200;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
}

.form-toggle button:hover {
    background-color: #cec80d;
}
