*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    margin: auto;
    margin-top: 5%;
}

.text{
    display:flex;
    justify-content: center;
}

.img3{
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact{
    font-size: 25px;
    padding: 3%;
    text-align: center;
}

